@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
* {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	margin: 0 auto;
	background-color: #313234;
}
.container {
	width: 100%;
	margin: 0 auto;
}
/* <--------- HEADER ---------> */
header {
 width: 100%;
 background-color: #007c91;
 	text-align: center;
}

/* <--------- HEADER-END ---------> */


/* <--------- TEXT ---------> */
.text {
	text-align: center;
	color:#00bbd9
}
/* <--------- TEXT-END  ---------> */
